<div class="portrait nav"></div>
<img src="" class="map nav-start">
<div class="path-container"></div>
<div class="wave wave-3"></div>
<img src="/public/images/ship.svg" class="ship">
<div class="wave wave-2"></div>
<div class="wave wave-1"></div>

<div class="content">
    <div class="caption intro">
        <h1>Great explorers of the world</h1>
        <h2 class="subtitle">Step into the shoes of one of the greatest maritime explorers of all time.</h2>
    </div>

    <div class="chooser intro">
      {{> chooser}}
    </div>

    <div class="story nav">
        <h1></h1>
        <h2 class="date"></h2>
        <p class="storyboard"></p>
        <button class="btn-start nav-intro">
            Live the journey →
        </button>
        <div class="controls nav-start">
            <button class="control control-left">&larr;</button>
            <button class="control control-right">&rarr;</button>
        </div>
    </div>

</div>

