<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='./public/stylesheets/style.css'/>
</head>
<body>
{{> nav}}
{{{body}}}
<script type='text/javascript' src='./public/javascripts/index.js'></script>
</body>
</html>
